In [0]:
from pyspark.sql import SparkSession

In [0]:
df = spark.read.options(header=True,inferSchema=True).csv('/FileStore/tables/SaveFile/studentData.csv')

In [0]:
df.show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [0]:
from pyspark.sql.functions import mean,mode,median

In [0]:
df.groupBy('course').agg(median('marks').alias('median'),mode('marks'),mean('marks')).show()

+------+------+-----------+------------------+
|course|median|mode(marks)|        avg(marks)|
+------+------+-----------+------------------+
|    PF|  52.0|         62|             55.65|
|    DB|  54.0|         79|53.529411764705884|
|   MVC|  44.0|         32|              50.0|
|   DSA|  60.0|         64| 60.26315789473684|
| Cloud|  59.0|         34| 54.53333333333333|
|   OOP|  52.0|         52| 56.23076923076923|
+------+------+-----------+------------------+

In [0]:
df.write.partitionBy('course').csv('/FileStore/tables/SaveFile/x_123')

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-1373225628665945>:1
----> 1 df.write.partitionBy('course').csv('/FileStore/tables/SaveFile/x_123')

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/readwriter.py:1798, in DataFrameWriter.csv(self, path, mode, compression, sep, quote, escape, header, nullValue, escapeQuotes, quoteAll, dateFormat, timestampFormat, ignoreLeadingWhiteSpace, ignoreTrailingWhiteSpace, charToEscapeQuoteEscaping, encoding, emptyValue, lineSep)
   1779 self.mode(mode)
   1780 self._set_opts(
   1781     compression=compression,
   1782     sep=sep,
   (...)
   1796     lineSep=lineSep,
   1797 )
-> 1798 self._jwrite.csv(path)

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py:1321, in JavaMember.__call__(self, *args)
   1315 command = proto.CALL_COMMAND_NAME +\
   1316     self.command_header +\
   1317     args_command +\
   1318     proto.END_COMMAND_PART
   1320 answer = self.gateway_client.send_command(command)
-> 1321 return_value = get_return_value(
   1322     answer, self.gateway_client, self.target_id, self.name)
   1324 for temp_arg in temp_args:
   1325     temp_arg._detach()

File /databricks/spark/python/pyspark/errors/exceptions.py:234, in capture_sql_exception.<locals>.deco(*a, **kw)
    230 converted = convert_exception(e.java_exception)
    231 if not isinstance(converted, UnknownException):
    232     # Hide where the exception came from that shows a non-Pythonic
    233     # JVM exception message.
--> 234     raise converted from None
    235 else:
    236     raise

AnalysisException: Path dbfs:/FileStore/tables/SaveFile/x_123 already exists.

In [0]:
df1 = spark.read.options(header=True,inferSchema=True).csv('/FileStore/tables/SaveFile/x_123/course=*')
df1.show()

+---+------+------------------+------+---+---------------------------------------+
| 28|  Male|    Celeste Lollis| 21267| 45|Jeannetta Golden_Jenna Montague@DSA.com|
+---+------+------------------+------+---+---------------------------------------+
| 29|  Male|       Neda Briski|141770| 42|                   Margene Moores_Mi...|
| 29|  Male|     Santa Kerfien|182129| 56|                   Judie Chipps_Tary...|
| 29|Female|    Loris Crossett|201487| 96|                   Elenore Choy_Lati...|
| 29|Female|       Niki Klimek|211508| 23|                   Cordie Harnois_Ju...|
| 28|Female|    Loris Crossett|332739| 62|                   Michelle Ruggiero...|
| 28|  Male|   Sebrina Maresca|361316| 62|                   Nicole Harwood_La...|
| 29|  Male|    Jalisa Swenson|372873| 45|                   Ernest Rossbach_T...|
| 28|  Male|      Elenore Choy|422704| 66|                   Marylee Capasso_N...|
| 28|  Male|    Dustin Feagins|461839| 51|                   Neda Briski_Eleno...|
| 28|  Male|    Margene Moores|531530| 53|                   Cheri Kenney_Mela...|
| 28|Female|     Tijuana Kropf|571047| 41|                   Loris Crossett_Se...|
| 28|  Male|Priscila Tavernier|642594| 27|                   Marylee Capasso_C...|
| 29|  Male|    Sheryll Towler|682533| 42|                   Billi Clore_Anna ...|
| 29|  Male|    Maybell Duguay|701486| 99|                   Clementina Menke_...|
| 28|  Male|    Alberta Freund|781061| 75|                   Leontine Phillips...|
| 29|  Male|       Neda Briski|842515| 68|                   Neda Briski_Huber...|
| 29|  Male|    Loris Crossett|911593| 46|                   Gonzalo Ferebee_M...|
| 28|Female|      Jc Andrepont|972733| 20|                   Eda Neathery_Eda ...|
| 29|  Male|       Niki Klimek|982443| 94|                   Santa Kerfien_Kiz...|
| 29|Female|         Kena Wild|102285| 35|                   Dustin Feagins_Ma...|
+---+------+------------------+------+---+---------------------------------------+
only showing top 20 rows

In [0]:
df1.count()

Out[84]: 94

In [0]:
df1.select('course').distinct().show()

Out[75]: 14

In [0]:
df.select('course').distinct().count()

Out[82]: 6

In [0]:
df.groupBy('course').count().show()

+------+-----+
|course|count|
+------+-----+
|    PF|   20|
|    DB|   17|
|   MVC|   16|
|   DSA|   19|
| Cloud|   15|
|   OOP|   13|
+------+-----+

In [0]:
df.count()

Out[7]: 100

In [0]:
df.fillna('DB',subset=["course"]).show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [0]:
df = spark.read.csv("/FileStore/tables/ContainsNull.csv",header=True,inferSchema=True)
df.show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp2| null| null|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [0]:
df.fillna('1').show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp2|    1| null|
|emp3|    1|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [0]:
#returns non null rows
df.na.drop().show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp4|Cindy|456.0|
+----+-----+-----+

In [0]:
# Has to have at least 2 NON-null values
df.na.drop(thresh=2).show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [0]:
# to work on specific columns
df.na.drop(subset=["Sales"]).show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [0]:
df.na.fill(0).show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John|  0.0|
|emp2| null|  0.0|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [0]:
df.printSchema()

root
 |-- Id: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sales: double (nullable = true)

In [0]:
df.na.fill('0',subset=['Name']).show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp2|    0| null|
|emp3|    0|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [0]:
df.fillna(0).show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John|  0.0|
|emp2| null|  0.0|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [0]:
car=df.select(mean(df.Sales)).collect()
print(car[0][0])

400.5

In [0]:
df.show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp2| null| null|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+